@{
    Layout = "_Layout";
}

<div class="container">
  <h2>Edit vendor</h2>

  <form action='/vendors/@Model.Id' method="post">
    <label for="vendorName">Vendor Name</label>
    <input class="form-control" id="vendorName" name="name" type="text">
    <br>
    <label for="vendorDescription">Description</label>
    <textarea class="form-control" id="vendorDescription" name="description" type="text"></textarea>
    <br>
    <button class="btn" type="submit">Add Vendor</button>
  </form>

</div>
