<h1>Add a Vendor</h1>
<p>Add a Vendor here:</p>

<form action="/vendors" method="post">
  <label for="name">Vendor Name</label>
  <input id="name" name="name" type="type" value="name">
  <br>
  <label for="description">Description</label>
  <textarea id="description" name="description" value="description" rows="4">description</textarea>
  <br>
  <button type="submit">Add</button>
</form>

<a href='/'><button class="btn btn-primary btn-block">Back Home</button></a>
<a href='/vendors'><button class="btn btn-lg btn-primary">Back to Vendors</button></a>