@{
  Layout = "_Layout";
}
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Pierre's Bakery: </h1>
      <h2>Vendor & Order Tracker</h2>
    </div>
    <div class="btn-center">
      <a href='/vendors'><button class="btn" type="button">View All Vendors</button></a>
      <a href='/vendors/new'><button class="btn" type="button">Add a New Vendor</button></a>
    </div>      
  </div>
</body>
