@using VendorOrderTracker.Models;
@{
    Layout = "_Layout";
}

<div class="container">
  <h1>Order Details: </h1>
  <br>
  <div class="card">
    <div class="card-header">
      <h4>@Model["order"].Title</h4>
    </div>
    <div class="card-body">    
      <h5>Description: @Model["order"].Description</h5>
      <h5>Price: $ @Model["order"].Price</$ h5>
      <h5>Date: @Model["order"].Date</h5>
    </div>
    <div class="card-footer">
      <form action='/vendors/@Model["vendor"].Id/orders/@Model["order"].Id/delete' method="post">
        <button class="btn btn-danger" type="submit">Delete this Order</button>
      </form>
    </div>
  </div>  
  <br>
  <a href='/vendors/@Model["vendor"].Id/orders/new'><button type="button" class="btn">Add another Order</button></a>
  <a href='/vendors'><button type="button" class="btn">View All Vendors</button></a>
</div>